---
---

<div class="grid h-screen place-content-center bg-white px-4 dark:bg-gray-900">
  <div class="text-center">
    <h1 class="uppercase tracking-widest text-gray-500 dark:text-gray-400">
      404 | Not Found
    </h1>
    <a
      href="#"
      class="mt-6 inline-block rounded bg-zinc-800 px-5 py-3 text-sm font-medium text-white hover:bg-zinc-700 focus:outline-none focus:ring"
    >
      Go Back Home
    </a>
  </div>
</div>
